{% extends 'shared/nav.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Autosearch</title>
  </head>
  <body>
    <h1>Search</h1>

      {% comment %} {% csrf_token %} {% endcomment %}
      <fieldset>
          <label for="note"></label>
          <input id="vehiclesearch" type="text" name="vehiclesearch" value="">
      </fieldset>

      <input type="submit" value="Add It" />
      <button>Search</button>

              <form action="{% url 'autosearchapp:search' %}" method="GET">
            {% comment %} {% csrf_token %} {% endcomment %}
            <button>Actual Search</button>
        </form>
    </form>
  </body>
</html>
{% endblock %}

{% block scripts %}
{% endblock %}

