{% extends 'shared/nav.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Autosearch</title>
  </head>
  <body>
    <h1>Search</h1>
              <form action="{% url 'autosearchapp:search' %}" method="GET">

      {% comment %} {% csrf_token %} {% endcomment %}
      <fieldset>
          <label for="year"></label>
          <input id="year" type="text" name="year" value="{{year}}">
      </fieldset>
      <fieldset>
          <label for="make"></label>
          <input id="make" type="text" name="make" value="{{make}}">
      </fieldset>
      <fieldset>
          <label for="model"></label>
          <input id="model" type="text" name="model" value="{{model}}">
      </fieldset>

      <input type="submit" value="Add It" />
      <button>Search</button>

            {% comment %} {% csrf_token %} {% endcomment %}
            <button>Actual Search</button>
        </form>
    </form>
  </body>
</html>
{% endblock %}

{% block scripts %}
{% endblock %}

