{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Library</title>

    <style>
        .navList {
            list-style-type: none;
            display: flex;
            border: 1px solid lightgray;
            padding: 1em;
        }

        .navList__route {
            margin: 0 0.5em;
        }
    </style>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />

    {% block css %}
    {% endblock %}
</head>

<body>

    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'autosearchapp:vehicles' %}">Vehicles</a></li>
            <li class="navList__route"><a href="{% url 'autosearchapp:home' %}">Search</a></li>
            <li class="navList__route"><a href="{% url 'autosearchapp:logout' %}">Logout</a></li>

        </ol>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>

{% block scripts %}
{% endblock scripts %}