{% extends 'shared/base.html' %}


{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Autosearch</title>
  </head>
  <body>
    <h1>Edit Notes</h1>


    <form action="{% url 'autosearchapp:vehicle' vehicle.id %}" method="post">
      {% comment %} {% csrf_token %} {% endcomment %}
      <fieldset>
          <label for="note">Notes: </label>
          <input id="vehicle" type="text" name="vehicle" value="{{ vehicle.note.vehicle_note }}">
      </fieldset>

      <input type="submit" value="Add It" />
    </form>
  </body>
</html>
{% endblock %}
