{% extends 'shared/nav.html' %}
{% load staticfiles %}

{% block content %}

    <h1>Edit Notes</h1>

    {% if vehicle.id is not None %}
        <form action="{% url 'autosearchapp:new_note' vehicle.id %}" method="post">
    {% else %}
        <form action="{% url 'autosearchapp:vehicles' %}" method="post">
    {% endif %}
        {% csrf_token %}

       <fieldset>
      <div> {{vehicle.model}} </div>
          <label for="note">Notes: </label>
          <input id="vehicle" type="text" name="vehicle_notes" value="{{ vehicle.note.vehicle_notes }}"></input>
      </fieldset>

        <button>Add Note</button>

        {% if vehicle.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>
{% endblock %}





