{% extends 'shared/nav.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vehicles</title>
  </head>
  <body>
    <h1>Vehicles</h1>

    <ol class="vehicles">
    {% for vehicle in saved_vehicles %}
        <li>
        <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
         </dialog>

            {{ vehicle.heading }}
            {{ vehicle.price }}
           <div> What they said - {{vehicle.notes}} </div>
            <form action="{% url 'autosearchapp:vehicle_details' vehicle.id %}" method="GET">
            {% comment %} {% csrf_token %} {% endcomment %}
            <button>Details</button>
        </form>
        <button id="detail--{{ vehicle.id }}">Modal</button> </div>      </li>
    {% endfor %}
    </ol>
  </body>
</html>
{% endblock %}
{% block scripts %}
    <script src="{% static 'scripts/vehiclesearch.js' %}"></script>
{% endblock %}
