{% extends 'shared/nav.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vehicles</title>
  </head>
  <body>
    <h1>Vehicles</h1>

    <ol>
    {% for vehicle in all_vehicles %}
        <li>
             {{ vehicle.model }}
            by {{vehicle.make}} created in {{vehicle.year}}
           <div> What they said - {{vehicle.notes}} </div>
            <div><button>Add</button>

            <form action="{% url 'autosearchapp:vehicle_details' vehicle.id %}" method="GET">
            {% comment %} {% csrf_token %} {% endcomment %}
            <button>Details</button>
        </form>  </div>      </li>
    {% endfor %}
    </ol>
  </body>
</html>
{% endblock %}