{% extends 'shared/nav.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vehicles</title>
  </head>
  <body>
    <h1>Vehicles</h1>
    {% if vehicle.value is not None %}
        <form action="{% url 'autosearchapp:vehicle' vehicle.id %}" method="post">
    {% else %}
        <form action="{% url 'autosearchapp:vehicles' %}" method="post">
    {% endif %}

    <ol class="vehicles">
    {% for vehicle in searched_vehicles %}
        <li>
        <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
         </dialog>
             {% if vehicle.media.photo_links|length > 0 %}
            <img src='{{vehicle.media.photo_links.0}}'height="90rem" width="90rem">

            {% endif %}

             {{ vehicle.heading }}
            Vin: {{vehicle.vin}} Price: {{vehicle.price}}
           <div> Mileage - {{vehicle.miles}} </div>
           <div><a href='{{vehicle.vdp_url}}'>Seller's site</a></div>
            <div><button>Add</button>

            {% comment %} <form action="{% url 'autosearchapp:vehicle_details' vehicle.id %}" method="GET"> {% endcomment %}
            {% csrf_token %}
            <button>Details</button>
        </form>
        <button id='detail--{{ vehicle.id }}'>Modal</button> </div>      </li>
    {% endfor %}

    </ol>
  </body>
</html>
{% endblock %}
{% block scripts %}
    <script src="{% static 'scripts/vehiclesearch.js' %}"></script>
{% endblock %}
