{% extends 'shared/nav.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vehicles</title>
  </head>
  <body>
    <h1>Vehicles</h1>

    <ol class="vehicles">
    {% for vehicle in searched_vehicles %}
        <li>
        <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
         </dialog>

             {{ vehicle.heading }}
            Vin: {{vehicle.vin}} Price: {{vehicle.price}}
           <div> Mileage - {{vehicle.miles}} </div>
           <div><a href='{{vehicle.vdp_url}}'>Seller</a></div>
            <div><button>Add</button>

            {% comment %} <form action="{% url 'autosearchapp:vehicle_details' vehicle.id %}" method="GET"> {% endcomment %}
            {% comment %} {% csrf_token %} {% endcomment %}
            <button>Details</button>
        </form>
        <button id="detail--{{ vehicle.id }}">Modal</button> </div>      </li>
    {% endfor %}
    </ol>
  </body>
</html>
{% endblock %}
{% block scripts %}
    <script src="{% static 'scripts/vehiclesearch.js' %}"></script>
{% endblock %}
