{% extends 'shared/nav.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vehicles</title>
  </head>
  <body>
    <h1>Vehicles</h1>


    <ol class="vehicles">
    {% for vehicle in searched_vehicles.listings %}
        <form action="{% url 'autosearchapp:save_vehicle' %}" method="post">

        <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
        </dialog>
        <li>
         <form>
            {% if vehicle.media.photo_links|length > 0 %}
            <img src='{{vehicle.media.photo_links.0}}'height="90rem" width="90rem">
            {% endif %}

            <input id="heading" type="hidden" name="heading" value="{{ vehicle.heading }}">
            <input id="price" type="hidden" name="price" value="{{ vehicle.price }}">
            <input id="mileage" type="hidden" name="mileage" value="{{ vehicle.miles }}">
            <input id="vdp_url" type="hidden" name="vdp_url" value="{{ vehicle.vdp_url }}">
            <input id="vin" type="hidden" name="vin" value="{{ vehicle.media.photo_links.0 }}">

            <div> {{ vehicle.heading }}</div>
            Vin: {{vehicle.vin}} Price: {{vehicle.price}} {{vehicle.dealer.city}} {{vehicle.carfax_1_owner}}
            <div> Mileage - {{vehicle.miles}} </div>
            <div>Transmission type: {{vehicle.build.transmission}}</div>
            <div><a href='{{vehicle.vdp_url}}'>Seller's site</a></div>
            <div><button type="submit">Add</button></div>
            {% csrf_token %}
        </form>
        </li>
    {% endfor %}
    </ol>
        {% if vehicle.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}
  </body>

</html>
{% endblock %}
{% block scripts %}
    <script src="{% static 'scripts/vehiclesearch.js' %}"></script>
{% endblock %}


